body{
    background-color: rgb(250, 246, 239);
}
/* Logo.css */

.logo-wrapper {
    position: fixed;
   display: flex;
   justify-content: center;
   width: 100vw;
  }
  
  .logo-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .initial-text, .full-text {
    display: inline-block;
    font-size: 1.25rem; /* Tailwind equivalent to text-xl */
    font-weight: 700; /* Tailwind equivalent to font-bold */
    white-space: nowrap;
  
  }
  
  
  .full-text {
    position: absolute;
    top: 0;
    left: -45px;
    width: 0;
    overflow: hidden;
    /* border-right: 2px solid black; Simulate the cursor */
    opacity: 0;
    transition: width 2s , opacity 0.5s ease-in-out;
  }
  
  .logo-container:hover .full-text {
    width: 9ch; /* Adjust this to match the full length of the text */
    opacity: 1;
  }
  
  .logo-container:hover .initial-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* styles.css */
    @keyframes changeFont {
      0% { font-family: 'Roboto', sans-serif; }
      25% { font-family: 'Open Sans', sans-serif; }
      50% { font-family: 'Lobster', cursive; }
      75% { font-family: 'YourNextFont', sans-serif; }
      100% { font-family: 'Roboto', sans-serif; }
    }
    
    .animated {
      animation: changeFont 5s infinite;
}
