body{
    background-color: rgb(250, 246, 239);
}
/* Logo.css */


.logo-wrapper {
    position: fixed;
   display: flex;
   justify-content: center;
   width: 100vw;
  }
  
  .logo-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .initial-text, .full-text {
    display: inline-block;
    font-size: 1.25rem; /* Tailwind equivalent to text-xl */
    font-weight: 700; /* Tailwind equivalent to font-bold */
    white-space: nowrap;
  
  }
  
  
  .full-text {
    position: absolute;
    top: 0;
    left: -45px;
    width: 0;
    overflow: hidden;
    /* border-right: 2px solid black; Simulate the cursor */
    opacity: 0;
    transition: width 2s , opacity 0.5s ease-in-out;
  }
  
  .logo-container:hover .full-text {
    width: 9ch; /* Adjust this to match the full length of the text */
    opacity: 1;
  }
  
  .logo-container:hover .initial-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .hero{
    transition: 1s;
  }
  /* styles.css */
    @keyframes changeFont {
      0% { font-family: 'cloudy', sans-serif; }
      25% { font-family: 'boomster', sans-serif; }
      50% { font-family: 'dirtyBrush', cursive; }
      75% { font-family: 'superFunky', sans-serif; }
      100% { font-family: 'superMilk', sans-serif; }
    }
    
    .animated {
      transition: 4s;
      animation: changeFont 5s infinite ;
    }

.char{
  display:inline-block;
}
.txt{
  display:inline-block;
}


/* 
@keyframes juggle {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100px);
  }
}

@keyframes cartoon {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
} */

section{
  align-items: center;
}
p{
  align-items: center;
}
