@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'blink';
    src: url('/public/assets/fonts/BlinktwiceRegular-4BvE4.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
